.img {
  height: 100px;
  width: 150px;
  border-radius: 15% 50%;
  object-fit: cover;
}
.nav-link:hover {
color: coral;
}
.nav li {
  width: 100px;
  height: 40px;
  margin: 10px;
  text-align: center;
  border: 1px solid coral;
  border-radius: 15%;

}
.link-secondary {
  color: rgb(255, 255, 255) ;
}