.app-list-item {
  font-size: 1.25rem;
}

.app-list-item button {
  width: 35px;
  height: 35px;
  margin: 3px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
.app-list-item button:focus {
    box-shadow: none;
    outline: none;
}
.app-list-item .btn-star {
    color: #626262;
}
.app-list-item .btn-trash {
    color: rgb(65, 32, 32);
}


.app-list-item .fa-check-circle {
    text-align: center;
    font-size: 16px;
    color: rgb(27, 141, 27);
    transition: 0.3s all;
    transform: translateX(30px);
    opacity: 0;
}
.line{
text-decoration:line-through;
}

.app-list-item-label {
  display: block;
  line-height: 35px;
  cursor: pointer;
  user-select: none;
  transition: 0.5s all;
 
}

.app-list-item.done .fa-check-circle {
    opacity: 1;
    transform: translateX(0px);
}

.app-list-item.important .app-list-item-label {
  color: hsl(12, 89%, 44%);
}

.app-list-item.important .btn-star {
    color: #d81b0a;
}
